<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-click="$ctrl.toggleNav()" class="md-icon-button">
            <md-icon>menu</md-icon>
        </md-button>
        <h2 flex md-truncate>App Title</h2>
    </div>
</md-toolbar>

<div flex layout="row">

    <!--md-is-locked-open="$mdMedia('gt-md')"-->

    <md-sidenav md-component-id="left">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>Menu</h2>
            </div>
        </md-toolbar>

        <md-content flex class="sidebar">
            <md-menu-item flex layout="row">
                <md-button ng-href="">
                    <md-icon>menu</md-icon>
                    Menu Item 1
                </md-button>
            </md-menu-item>
            <md-divider></md-divider>
            <md-menu-item flex layout="row">
                <md-button ng-href="">
                    <md-icon>menu</md-icon>
                    Menu Item 2
                </md-button>
            </md-menu-item>
            <md-divider></md-divider>
        </md-content>

    </md-sidenav>

    <md-content class="md-padding" flex id="content">

        <ng-view></ng-view>

    </md-content>

</div>