<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-click="$ctrl.toggleNav()" class="md-icon-button">
            <md-icon>menu</md-icon>
        </md-button>
        <h2 flex md-truncate>Toolbar</h2>
    </div>
</md-toolbar>

<div flex layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-md')" md-component-id="left">

        <md-list>
            <md-list-item>
                <md-button>
                    <!--<md-icon>android</md-icon>-->
                    Menu Item
                </md-button>
            </md-list-item>

        </md-list>

    </md-sidenav>

    <md-content class="md-padding" flex id="content">

        <ng-view></ng-view>

    </md-content>

</div>