<md-toolbar>
    <div class="md-toolbar-tools">
        <!--<md-button ng-click="$ctrl.toggleNav()" class="md-icon-button">
            <md-icon>menu</md-icon>
        </md-button>-->
        <h2 flex md-truncate>Home</h2>
        <md-button ng-click="alert('todo')" class="md-icon-button">
            <md-icon>more_vert</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-content>

<md-subheader class="md-no-sticky">Home</md-subheader>

<md-card>
    <md-list>
        <md-list-item md-ink-ripple>
            <md-icon>home</md-icon>
            <p>
                asdf
            </p>
            <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
        </md-list-item>
        <md-list-item md-ink-ripple>
            <md-icon>home</md-icon>
            <p>
                asdf
            </p>
            <md-switch class="md-secondary" ng-model="setting.bla"></md-switch>
        </md-list-item>
    </md-list>
</md-card>

</md-content>